body{
    height: 100%;
    padding: 0;
    font-size: 16px;
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    width: 100%;
    background-color: rgba(228, 251, 255,0.8);

}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
ul li{
    list-style: none;
    display: inline-block;
    padding:0 30px;
}
ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #79b4b7;
    transition: 1s;
}
ul li a:hover
{
    color: #FFB319; 
}
h1{
    font-size: 30px;
    font-family:sans-serif;
    padding: 0 20px;
    letter-spacing: 2px;
    cursor: pointer;
}
h1 a{
    text-decoration: none;
    color: #22577A
}
.image1,.image2,.image3{
    position: relative;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.image1{
    background-image: url(images/pexels-pixabay-2150.jpg);
    min-height: 60vh;
}
.image2{
    background-image: url(images/pexels-michał-osiński-3454270.jpg);
    min-height: 60vh;
}
.image3{
    background-image: url(images/pexels-lumn-167699.jpg);
    min-height: 60vh;
}
.img1text,.img2text,.img3text{
    display: flex;
    height: 60vh;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: monospace;
    color: white;
    text-transform: uppercase;
    letter-spacing: 8px;
}
.img1text span{
    
    background-color: #99dfffbe;
    padding: 15px;
}
.img2text span{
    padding: 15px;
    background-color: #92efff;
    color: #22577A;
}
.img3text span{
    padding:15px;
    background-color: #3B0000;
}
section{
    padding: 15px;
    background-color: #FCF8E8;
}
section p{
    color: #3B0000;
    text-align: center;
    padding: 40px 50px;
}
section h2{
    text-align: center;
    font-family: sans-serif;
    color:#A0937D;  
    font-family: monospace;
    text-transform:uppercase;
}