body{
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/pexels-michał-osiński-3454270.jpg); 
    background-position: center;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    width: 100%;
    background-color: rgba(228, 251, 255,0.8);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
ul li{
    list-style: none;
    display: inline-block;
    padding:0 30px;
}
ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #79b4b7;
    transition: 1s;
}
ul li a:hover
{
    color: #FFB319; 
}
h1{
    font-size: 30px;
    font-family:sans-serif;
    padding: 0 20px;
    letter-spacing: 2px;
    cursor: pointer;
}
h1 a{
    text-decoration: none;
    color: #22577A
}
.contacts
{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;    
}
p{
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    margin: 0px;
    padding: 20px;
    background-color: rgba(192, 192, 192, 0.15);
    border-radius: 10px;
}